@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

/* Reset */
*, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
a{
    text-decoration: none;
}

/* Colours*/
p, h1, h2, h3, h4, h5, li{color: white;}
:root{
    --primary: #16213E;
    --secondary: #0F3460;
    --tertiary: #533483;
    --quaternary: #f5536e;
    --quinary: #64FFDA;
}

body{
    background-color: var(--primary);
}
nav a{
    color: var(--quinary);
}
nav a:hover{
    color: #ffffff;
}
nav span{
    color: #ffffff;
}
.title{
    color: #ebedf3;
}
.subtitle, .subtext, .text{
    color: #c4c6cc;
}

.view-CV{
    color: var(--quinary);
}
.download-CV{
    color: var(--quaternary);
}
.cv-style:hover{
    background-color: #1c294e;
}

.hero .other a{
    color: azure;
}
.hero .other a:hover{
    color: var(--quinary);
}
.section-title{
    color: var(--quinary);
}
.links a{
    color: azure;
}
.links a:hover{
    color: var(--quinary);
}
footer a{
    color: azure;
}
footer a:hover{
    color: var(--quinary);
}

/* Fonts */
body{
    font-family: 'Barlow', sans-serif;
}
.Bold{
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}
.Regular{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}


@media only screen and (min-width:1025px) {
    /* Main styling */
    .container{
        width: 900px;
        margin: auto;
    }
    /* Navbar */
    #navbar{
        background-color: var(--primary);
        width: 100%;
        height: 50px;
        position: fixed;
        right: 40px;
        text-align: right;
        padding: 30px 20px 40px 0;
        display: block;
        transition: top 0.2s;
    }
    nav a{
        margin: 0 15px;
    }

    /* Hero section */
    .hero{
        height: 850px;
        vertical-align:middle;
    }
    /* Header */
    .hero .header{
        padding-top: 13%;
    }
    .hero .header .title{
        font-size: 90px;
    }
    .hero .header .subtitle{
        font-size: 70px;
        margin-top: 20px;
    }
    .hero .header .subtext{
        width: 50%;
        font-size: 20px;
        margin-top: 35px;
    }
    /* CV buttons */
    .hero .main-links{
        text-align: center;
        margin-top: 70px;
    }
    .hero .main-links .cv{
        width: 600px;
        font-size: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        margin: auto;
    }
    .hero .cv-container{
        padding: 20px 0;
    }
    .cv-style{
        border: 3px solid;
        border-radius: 10px;
    }
    /* links */
    .hero .main-links .other{
        width: 350px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 50px auto auto auto;
    }
    .hero .other div a svg{
        display: block;
        height: 25px;
        width: 25px;
        margin: auto auto 5px auto;
    }



    .stack{
        margin: auto auto 200px auto;
        text-align: center;
    }
    .stack .section-title{
        text-align: left;
        margin-bottom: 50px;
    }
    .stack .backend{
        margin-bottom: 120px;
    }
    .stack .subtitle{
        margin-bottom: 40px;
    }
    .stack .backend-languages{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .stack .frontend-languages{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .stack img{
        height: 100px;
        width: 100px;
    }



    .current-project{
        margin-bottom: 160px;
    }
    .section-title{
        text-align: left;
    }
    .current-project .section-title{
        margin-bottom: 50px;
    }
    .current-project .current{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .subtitle{
        margin-bottom: 10px;
    }
    .current-project .about{
        margin-bottom: 15px;
    }
    .current-project .tech{
        margin-bottom: 40px;
    }
    .tech span{
        font-weight: bold;
        font-size: 1.2rem;
    }
    .current-project .bullet-points{
        margin: 0  0 30px 20px;
    }
    .current-project .bullet-points li{
        margin: 0  0 6px 0;
    }

    .links{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        text-align: center;
    }
    .links .code{
        text-align: left;
    }
    .links {
        width: 100px;
        text-align: center;
        margin: auto;
    }
    .links .code a svg{
        display: block;
        text-align: left;
        height: 25px;
        width: 25px;
        margin: auto auto 5px 9px;
    }
    .links .video{
        text-align: right;
        margin-right: 3px
    }
    .links .video a svg{
        text-align: right;
        display: block;
        text-align: right;
        height: 25px;
        width: 25px;
        margin: auto 6px 5px auto;
    }


    .other-projects .project-container{
        width: 500px;
        margin: auto auto 100px auto;
    }
    .other-projects .project-container{
        margin-bottom: 50px;
    }
    .other-projects .project{
        margin-bottom: 30px;
    }
    .other-projects .project .tech{
        margin-bottom: 15px;
    }

    footer{
        padding-bottom: 30px;
    }
}

/* PCs/Laptops */
@media only screen and (min-width:769px) and (max-width:1024px) {
    /* Main styling */
    .container{
        width: 80%;
        margin: auto;
    }
    /* Navbar */
    #navbar{
        background-color: var(--primary);
        width: 100%;
        display: block;
        height: 30px;
        height: 50px;
        position: fixed;
        right: 40px;
        text-align: right;
        padding: 20px 10px 40px 0;
        transition: top 0.2s;
    }
    nav a{
        margin: 0 15px;
    }

    /* Hero section */
    .hero{
        height: 100vh;
        vertical-align: middle;
        margin-bottom: 50px;
    }
    /* Header */
    .hero .header{
        padding-top: 15%;
    }
    .hero .header .title{
        font-size: 3.5rem;
    }
    .hero .header .subtitle{
        font-size: 2rem;
        margin-top: 10px;
    }
    .hero .header .subtext{
        width: 60%;
        font-size: 20px;
        margin-top: 20px;
    }
    /* CV buttons */
    .hero .main-links{
        text-align: center;
        margin-top: 10%;
    }
    .hero .main-links .cv{
        width: 70%;
        font-size: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8%;
        margin: auto;
    }
    .hero .cv-container{
        padding: 10px 0;
    }
    .cv-style{
        border: 2.5px solid;
        border-radius: 10px;
    }
    /* links */
    .hero .main-links .other{
        width: 350px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 50px auto auto auto;
    }
    .hero .other div a svg{
        display: block;
        height: 20px;
        width: 20px;
        margin: auto auto 5px auto;
    }



    .stack{
        margin: auto auto 18% auto;
        text-align: center;
    }
    .stack .section-title{
        text-align: left;
        margin-bottom: 40px;
    }
    .stack .backend{
        margin-bottom: 90px;
    }
    .stack .subtitle{
        margin-bottom: 30px;
    }
    .stack .backend-languages, .stack .frontend-languages{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 80%;
        margin: auto;
    }
    .stack img{
        height: 80px;
        width: 80px;
    }



    .current-project{
        margin-bottom: 20%;
    }
    .current-project .current{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .section-title{
        text-align: left;
    }
    .current-project .section-title{
        margin-bottom: 50px;
    }
    .subtitle{
        margin-bottom: 10px;
    }
    .current-project .about{
        margin-bottom: 15px;
    }
    .current-project .tech{
        margin-bottom: 60px;
    }
    .tech span{
        font-weight: bold;
        font-size: 1.2rem;
    }
    .current-project .bullet-points{
        width: 153%;
        margin: 0  0 30px -70%;
    }
    .current-project .bullet-points li{
        margin: 0  0 6px 0;
    }

    .links{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        text-align: center;
        width: 100px;
        text-align: center;
        margin: auto;
    }
    .links .code{
        text-align: left;
    }
    .links .code a svg{
        display: block;
        text-align: left;
        height: 20px;
        width: 20px;
        margin: auto auto 5px 12px;
    }
    .links .video{
        text-align: right;
        margin-right: 3px
    }
    .links .video a svg{
        text-align: right;
        display: block;
        text-align: right;
        height: 20px;
        width: 20px;
        margin: auto 9px 5px auto;
    }


    .other-projects .section-title{
        margin-bottom: 50px;
    }
    .other-projects .project-container{
        width: 500px;
        margin: auto auto 50px auto;
    }
    .other-projects .project{
        margin-bottom: 30px;
    }
    .other-projects .project .tech{
        margin-bottom: 15px;
    }

    footer{
        padding-bottom: 30px;
    }
}


@media only screen and (min-width:481px) and (max-width:768px) {
    /* Main styling */
    .container{
        width: 80%;
        margin: auto;
    }
    /* Navbar */
    #navbar{
        width: 100%;
        height: 50px;
        position: fixed;
        right: 40px;
        text-align: right;
        padding: 30px 20px 40px 0;
        display: block;
        transition: top 0.2s;
    }
    nav a{
        margin: 0 15px;
    }

    /* Hero section */
    .hero{
        height: 850px;
        vertical-align:middle;
    }
    /* Header */
    .hero .header{
        padding-top: 13%;
    }
    .hero .header .title{
        font-size: 90px;
    }
    .hero .header .subtitle{
        font-size: 70px;
        margin-top: 20px;
    }
    .hero .header .subtext{
        width: 50%;
        font-size: 20px;
        margin-top: 35px;
    }
    /* CV buttons */
    .hero .main-links{
        text-align: center;
        margin-top: 70px;
    }
    .hero .main-links .cv{
        width: 600px;
        font-size: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        margin: auto;
    }
    .hero .cv-container{
        padding: 20px 0;
    }
    .cv-style{
        border: 3px solid;
        border-radius: 10px;
    }
    /* links */
    .hero .main-links .other{
        width: 350px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 50px auto auto auto;
    }
    .hero .other div a svg{
        display: block;
        height: 25px;
        width: 25px;
        margin: auto auto 5px auto;
    }
}


@media only screen and (min-width:320px) and (max-width:480px) {

}